body {
    font-family: "Montserrat";
    font-size: 16px;
    /* margin-left: 100px;
    margin-top: 100px; */
    /* background-image: url("https://picsum.photos/seed/picsum/200/300"); */
    margin: 0;
    padding: 0;
    letter-spacing: 1.4px;
}

* {
    box-sizing: border-box;
}

table { /*selector*/
    /* text-align: center; property: value; */
    line-height: 200%;
    width: 300px;
    height: 200px;
    /* border: 1px solid black;
    border-collapse: collapse; */
    border-top: 5px solid #FF66CE;
    color: #496BD8;
    font-weight: bold;
}

table th { 
    text-align: left;
    color: #2A3655;
}


/* 
body {
    color:green;
} 
*/

h1 {
    color: #2A3655;
}

h3 {
    color: #f0AE1F;
    font-size: 35px;
    font-weight: 900;
    margin: 0;
}
 
p {
    color: #2A3655;
    font-weight: bold;
    /* text-indent: 50px; */
    margin: 0;
}

.sup_element {
    color: red;
}

footer strong {
    text-decoration: underline dashed #FF66CE;
}

mark {
    border-radius: 5px;
}

div#main-content {
    /* background-color: #CACACA; */
    padding-left: 30px;
    padding-top: 80px;
    padding-bottom: 80px;
    /* border-style: solid; */
    display: flex;
    /* flex-direction: column; */
    /* flex-direction: row-reverse; */
    /* flex-wrap: nowrap; */
    /* flex-wrap: wrap; */
    /* justify-content: space-around; */
    /* justify-content: flex-end; */
    background-image: linear-gradient(170deg, #FFF7F6, #FFF7F6)
}

a:hover {
    color: #FF66CE;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    align-items: center;
    /* background-color: #FFF7F6; */
    background-image: linear-gradient(45deg, #EBF9FF, #FFF7F6)
}

article {
    margin-bottom: 80px;
}

a {
    color: #20D0FF;
}

#articles {
    flex-grow: 1;
}

#skills {
    flex-grow: 1;
    /* align-self: center; */
}

footer {
    left: 0;
    bottom: 0;
    padding: 10px;
    text-align: center;
    width: 100%;
    background-color: #20D0FF;
    color: #2A3655;
}


/* 
header a {
    float: right;
} 


header h1 {
    float: left;
}

#articles {
    padding: 30px;
    padding-right: 100px;
    float: left;
} 
*/






/* 
span {
    display: block;
} 
*/


/* 
table tr:first-child {
    color: blue;
} 
*/


/* 
footer p {
    color: red;
} 
*/


/* 
footer > p {
    color: red;
} 
*/


/* 
sup.sup_element{
    color: red;
} 
*/


/* 
h3, p {
    color: #FC7629;
} 
*/


/* 
.first-class {
    color: red;
}

h1 {
    color: green;
}

.third-class {
    color: red !important;
}

#first-id {
    color: blue;
} 
*/

@media screen and (min-width: 600px) {
    footer {
        position: fixed;
    }    
}

@media screen and (max-width: 600px) {
    div#main-content, header {
        flex-direction: column;
    }  
}